
*{
    font-family: 'Roboto Flex', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    background-color: lightyellow;
}
li{
    list-style-type: none;
}
h1,h2,h3,h4{
    font-family: 'Fondamento', cursive;;
}

/*main page*/
.nav{
    position: fixed;
    top: 1rem;
    left: 1rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
    width: 100px;
    border-radius: 20px;
    background-color: pink;
}
.nav .bars{
    max-height: 1.5rem;
}
.nav:hover{
    cursor: pointer;
    background-color: lightgrey;
}
.main-container{
    display: flex;
    flex-direction: column;
}
.main-container .main{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-container .description{
    color: white;
    position: absolute;
    bottom: 0;
}




/*story*/
.main-story{
    height: 100vh;
    width: 100vw;
}



*{
    font-family: 'Roboto Flex', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
li{
    list-style-type: none;
}
h1,h2,h3,h4{
    font-family: 'Fondamento', cursive;;
}

/*main page*/
.nav{
    position: fixed;
    top: 1rem;
    left: 1rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
    width: 100px;
    border-radius: 20px;
    background-color: pink;
}
.nav .bars{
    max-height: 1.5rem;
}
.nav:hover{
    cursor: pointer;
    background-color: lightgrey;
}
.main-container{
    display: flex;
    flex-direction: column;
}
.main-container .main{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-container .description{
    color: white;
    position: absolute;
    bottom: 0;
}




/*story*/
.main-story{
    height: 100vh;
    width: 100vw;
}


*{
    font-family: 'Roboto Flex', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
li{
    list-style-type: none;
}
h1,h2,h3,h4{
    font-family: 'Fondamento', cursive;;
}

/*main page*/
.nav{
    position: fixed;
    top: 1rem;
    left: 1rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
    width: 100px;
    border-radius: 20px;
    background-color: pink;
}
.nav .bars{
    max-height: 1.5rem;
}
.nav:hover{
    cursor: pointer;
    background-color: lightgrey;
}
.main-container{
    display: flex;
    flex-direction: column;
}
.main-container .main{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-container .description{
    color: white;
    position: absolute;
    bottom: 0;
}




/*story*/
.main-story{
    height: 100vh;
    width: 100vw;
}





*{
    font-family: 'Roboto Flex', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
li{
    list-style-type: none;
}
h1,h2,h3,h4{
    font-family: 'Fondamento', cursive;;
}

/*main page*/
.nav{
    position: fixed;
    top: 1rem;
    left: 1rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
    width: 100px;
    border-radius: 20px;
    background-color: pink;
}
.nav .bars{
    max-height: 1.5rem;
}
.nav:hover{
    cursor: pointer;
    background-color: #fffff8;
}
.main-container{
    display: flex;
    flex-direction: column;
}
.main-container .main{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-container .description{
    color: white;
    position: absolute;
    bottom: 0;
}




/*story*/
.main-story{
    height: 100vh;
    width: 100vw;
}








